<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackSoc newsletter archive</title>

    <script>
        function switchto(ele) {
            let prev = document.querySelector(".active");
            if (prev !== null) {
                prev.classList.remove("active");
            }
            ele.classList.add("active");
            document.querySelector("#iframe-container iframe").src = ele.href;
            return false;
        }

        function togglemenu() {
            let nav = document.querySelector("nav");
            nav.classList.toggle("hidden");
            document.querySelector("#menutoggle").textContent = nav.classList.contains("hidden") ? "Show list" : "Hide list";
        }
    </script>

    <style>
        body {
            font-family: sans-serif;
            color: #333;
        }

        a {
            color: #333;
        }

        main {
            display: grid;
            grid-template-columns: 20em auto;
            grid-template-rows: 10em auto;
            height: 97vh;
            box-sizing: border-box;
        }

        main > * {
            border: 1px solid black;
            margin: 2px;
        }

        header {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row: 1;
        }

        nav {
            grid-column: 1;
            grid-row: 2;
            overflow-y: scroll;
        }

        nav a {
            display: inline-block;
            padding-top: 1em;
            padding-bottom: 1em;
            border-bottom: 1px solid lightgray;
            width: 100%;
            box-sizing: border-box;
            padding-left: 1em;
            text-decoration: none;
        }

        nav a:hover {
            background: #eee;
            text-decoration: underline;
        }

        nav a.active {
            background: #c2b4d1;
            font-weight: bold;
        }

        span.date {
            color: #555;
            font-size: 0.9em;
        }
        span.title {
        }

        nav.hidden {
            display: none;
        }

        div#iframe-container {
            grid-column: 2;
            grid-row:2
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>

    <main>
        <header>
            <h1>HackSoc newsletter archive</h1>
            <button onclick="togglemenu()" id="menutoggle">Hide list</button>
        </header>
        <nav>
            <!-- <ul> -->
                {% for item in emails %}
                    <!-- <li> -->
                        <a href="{{url_for('.email', fn=item.filename)}}" onclick="return switchto(this)">
                            <span class="date">{{item.date|format_date}}</span><br>
                            <span class="title">{{item.title}}</span>
                        </a>
                    <!-- </li> -->
                {% endfor %}
            <!-- </ul> -->
        </nav>
        <div id="iframe-container">
            <iframe src="" frameborder="0"></iframe>
        </div>
    </main>

    
</body>
</html>