<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackSoc newsletter archive</title>

    <script>
        function switchto(ele) {
            let prev = document.querySelector(".active");
            if (prev !== null) {
                prev.classList.remove("active");
            }
            ele.classList.add("active");
            document.querySelector("#iframe-container iframe").src = ele.href;
            return false;
        }

        function togglemenu() {
            let nav = document.querySelector("nav");
            nav.classList.toggle("hidden");
            document.querySelector("#menutoggle").textContent = nav.classList.contains("hidden") ? "Show list" : "Hide list";
        }
    </script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

        body {
            font-family: sans-serif;
            color: #333;
        }

        a {
            color: #333;
        }

        h1,h2,h3,h4,h5,h6 {
            font-family: 'Sanchez';
            font-weight: normal;
        }

        main {
            display: grid;
            grid-template-columns: 20em auto;
            grid-template-rows: 5em auto;
            height: 97vh; /* something's fucky */
            box-sizing: border-box;
        }

        main > * {
            /* border: 1px solid black; */
            margin: 2px;
        }

        header {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row: 1;
        }

        header img {
            height: 100%;
            float: left;
            margin-right: .5em;
        }

        header h1 {
            clear: none;
            width: fit-content;
            float: left;
        }

        header #menutoggle {
            display: none;
        }

        nav {
            grid-column: 1;
            grid-row: 2;

            z-index: 999;
            background: white;

            display: flex;
            flex-direction: column;
            height: 100%;
            overflow: hidden;
        }

        nav > * {
            flex: 0 0 auto;
        }
        
        nav .inner {
            overflow-y: scroll;
            flex: 1 1 auto;
        }

        nav a {
            display: inline-block;
            padding-top: 1em;
            padding-bottom: 1em;
            border-bottom: 1px solid lightgray;
            width: 100%;
            box-sizing: border-box;
            padding-left: 1em;
            text-decoration: none;
        }

        nav a:hover {
            background: #eee;
            text-decoration: underline;
        }

        nav a.active {
            background: #c2b4d1;
            font-weight: bold;
        }

        span.date {
            color: #555;
            font-size: 0.9em;
        }
        span.title {
        }

        div#iframe-container {
            grid-column: 2;
            grid-row:2;
            z-index: 100;
        }

        iframe {
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width: 60em){
            div#iframe-container {
                grid-column-start: 1;
                grid-column-end: 3;

                transition: filter 0.5s ease-in-out;
            }

            nav.hidden {
                display: none;
            }

            header #menutoggle {
                display: initial;
                float:right;
            }

            nav:not(.hidden) + div#iframe-container {
                filter: brightness(0.8);
            }
        }
    </style>
</head>
<body>

    <main>
        <header>
            <img src="https://www.hacksoc.org/static/images/logo2017.svg" alt=""> <h1>HackSoc newsletter archive</h1>
            <button onclick="togglemenu()" id="menutoggle">Hide list</button>
        </header>
        <nav>
            <div class="inner">
                {% for item in emails %}
                        <a href="{{url_for('.email', fn=item.filename)}}" onclick="return switchto(this)">
                            <span class="date">{{item.date|format_date}}</span><br>
                            <span class="title">{{item.title}}</span>
                        </a>
                {% endfor %}
            </div>
        </nav>
        <div id="iframe-container">
            <iframe src="" frameborder="0"></iframe>
        </div>
    </main>

    
</body>
</html>